@using WebClient.Models
@using WebClient.Helpers

@model Account

<div class="bg-clubs">
    <section class="register d-flex flex-column align-items-center justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                    <div class="d-flex justify-content-center py-4">
                        <a asp-controller="Home" asp-action="Index" class=" d-flex align-items-center ">
                            <img class="logo-bigger" src="/assets/images/logo.png" alt="">
                        </a>
                    </div><!-- End Logo -->

                    <div class="card">

                        <div class="card-body">

                            <div class="pt-2 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4 fw-bold">Đăng nhập</h5>
                                <p class="text-center small">Đăng nhập để truy cập vào trang web.</p>
                            </div>

                            <form id="login-form" method="POST" asp-controller="Authen" asp-action="SignIn" class="row">
                                <div class="col-12 mb-2">
                                    <span class="fw-bold">Email</span>
                                    <input type="text" name="Email" asp-for="Email" placeholder="Nhập email" class="form-control" />
                                </div>
                                <div class="col-12 mb-2">
                                    <span class="fw-bold">Mật khẩu</span>
                                    <input type="password" name="Password" asp-for="Password" placeholder="Nhập mật khẩu" class="form-control" />
                                </div>
                                <div class="col-12 mt-2 mb-2">
                                    <button onclick="showSpinner();" type="submit" class="btn btn-primary w-100">
                                        <span id="spinner" class="visually-hidden">
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            <span class="visually-hidden">Loading...</span>
                                            <span>Đang xử lý</span>
                                        </span>
                                        <span id="btn-content">
                                            <i class="bi bi-arrow-right"></i>
                                            <span> Đăng nhập</span>
                                        </span>
                                    </button>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>Chưa có tài khoản?</span>
                                    <a asp-controller="Authen" asp-action="Register" class="link-underline">
                                        Tạo mới tài khoản
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
